.quiz-card{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 40px;
    font-size: 18px;
}
