.black-bg{
    background-color: #333333;
}
.white-bg{
    background-color: #F4F6FF;
}
.white-txt{
    color: #e1e6f0;
}

.black-txt{
    color: #333333;
}

.primary-bg{
    background-color: #90e0ef;
}

.dim-txt{
    color: #D3D3D3;
}